<a href="https://colab.research.google.com/github/sushant8525/Face-emotion-Recognition/blob/main/Copy_of_Copy_of_coding_practic7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
#1
num=123456
# reverse = str(num)[::-1]
# print(reverse)

reversed_num = 0
while (num>0):
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num =num//10
print(reversed_num)

654321

In [2]:
#2

def reverse(num):
    reversed_num = 0
    while (num>0):
        digit = num % 10
        reversed_num = reversed_num * 10 + digit
        num =num//10
    return reversed_num 
    
def check_palindrome(num):
    rev_num =reverse(num)
    if rev_num == num:
        print('True')
    else:
        print('False')


num = 121
check_palindrome(num)
num = 123
check_palindrome(num)

True
False

In [3]:
#3
a = int(input())
x = 0
y = 0
while(a > 0):
    n = a % 10
    if(n % 2 == 0):
        x = x + n
    else:
        y = y + n
    a = a//10
print(x, y)

157
0 13

In [4]:
#4
num=3
# outer loop
for i in range (65,65+num):
    # inner loop
    for j in range(65,i+1):
        print(chr(i),end="")
    print()

A
BB
CCC

In [5]:
#5
num=4
# outer loop
for i in range (65,65+num):
  k=i
    # inner loop
  for j in range(65,i+1):
      print(chr(k),end="")
      k+=1
  print()

A
BC
CDE
DEFG

In [6]:
trr = 'ABCDEFGHI'

In [7]:
#6
num = 5
bb=list(range(num))
bb.reverse()
for i in bb:
  print(trr[i:num])

E
DE
CDE
BCDE
ABCDE

In [8]:
#7
num = 4 
for i in range(1,num+1):
    print(i*'1')

1
11
111
1111

In [9]:
#8
num = 4
for i in range(num-1):
  if i==0:
    print(1)
  print(str(i+1)+(i)*str(0)+str(i+1))

1
11
202
3003

In [10]:
#9
num = 4
for i in range(num-1):
  if i==0:
    print(1)
  print(str(1)+(i)*str(2)+str(1))

1
11
121
1221

In [11]:
#10
num = 4
var=list(range(num+1))
var.reverse()
text='123456789'
for i in var:
  print(text[0:i])

1234
123
12
1

In [12]:
#11
num = 4
strr='12345'
for i in range(num):
  print(strr[i::-1])

1
21
321
4321

In [13]:
#12
num = 4 
for i in range(num):
    print(4*'4')

4444
4444
4444
4444

In [14]:
#13
num = 4
#outer loop
for i in range(1,num+1):
    #inner loop
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444

In [15]:
#14
num = 4
#outer loop
for i in range(65,65+num):
    #inner loop
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD

In [16]:
#15
num = 4
for i in range(4):
    print('ABCD')

ABCD
ABCD
ABCD
ABCD

In [17]:
#16
num = 4 
text='ABCDEFGHIKLMNOPQRSTUVWXYZ'
for i in range(num):
  print(text[i:num+i])

ABCD
BCDE
CDEF
DEFG

In [18]:
#17
num = 4 
for i in range(1,num+1):
    print(4*str(i))

1111
2222
3333
4444

In [19]:
#18
num = 4 
for i in range(1,num+1):
    print('4321')

4321
4321
4321
4321

In [20]:
#19
num = 4 
text='01234567890'
for i in range(1,num+1):
  print(text[i:i+i])

1
23
345
4567

In [21]:
#20
num = 4 
text_list=['1','2','3','4','5','6','7','8','9','10']
k=0
#outer loop
for i in range(num):
    # inner loop 
    for j in range(0,i+1):
        char = text_list[k]
        print(char,end="")
        k += 1
    print()

1
23
456
78910

In [22]:
#21
n=5
for i in range(1,n+1):
  num=1
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    else:
      print(num, end="")
      num=num+1
  print("")

    1
   12
  123
 1234
12345

In [23]:
#22
num=4
num=list(range(num+1))
num.reverse()
for i in num:
  if i ==0:
    print()
  elif i==1:
    print(1)
  else:
    print(str(i)+str(i)*(i-2)+str(i))

4444
333
22
1

In [24]:
#23
n = 5

# printing pyramid
for i in range(n):
   for j in range(n-i-1):
      # print spaces
      print("", end=" ")
   for j in range(2*i+1):
      # print stars
      print("*", end="")
   print()

# printing downward pyramid
for i in range(n-1):
   for j in range(i+1):
      # print spaces
      print("", end=" ")
   for j in range(2*(n-i-1)-1):
      # print stars
      print("*", end="")
   print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [25]:
#24
n=5
k = 0
count=0
count1=0

for i in range(1, n+1):
    for j in range(1, (n-i)+1):
        print(" ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=n-1:
            print(i+k, end="")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end="")
        k += 1
    
    count1 = count = k = 0
    print()

    1
   232
  34543
 4567654
567898765

In [26]:
#25
n=5
for i in range(n):
    for k in range(1,n-i):
        print(end=" ")
    for j in range(1,i+2):
        print("*", end="")
    for l in range(i,0,-1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [27]:
#26
n=5
for i in range(n):
    count = 0
    for k in range(1,n-i):
        print(end=" ")
    for j in range(i+1):
        count = count + 1
    num = count
    for j in range(i+1):
        print(num, end="")
        num = num - 1
    for l in range(2,i+2):
        print(l, end="")
    print()

    1
   212
  32123
 4321234
543212345

In [28]:
#27
n= 5
for i in range(0,int(n/2)+1):
  for a2 in range(i,0,-1):
    print(" ", end = "")
  for j in range(0, i + 1):
    if j>=0:
      print("*", end=' ')
  print("")

for i in range(int(n/2)+1, 0, -1):
    for a2 in range(i-1,1,-1):
        print(" ", end='')
    for j in range(i,1,-1):
      if j>=0:
        print("*", end=' ')
    print("")

*
 * *
  * * *
 * *
*

In [29]:
#28
row=3
col=3
arr1 = [[1, 2, 3], [4, 5, 6],[7, 8, 9]]
arrray=[]

for i in range(0,row):
  for k in range(col-1,i-1,-1):
    arrray.append(arr1[i])
for rows in arrray:
  for columns in rows:
    print(columns,end=" ")
  print()

1 2 3
1 2 3
1 2 3
4 5 6
4 5 6
7 8 9

In [30]:
#29
n=5
for i in range(1,n+1):
  for j in range(n,0,-1):      
      if i==j:
        print('*',end="")
      else:
        print(str(j),end="")
  print("")

5432*
543*1
54*21
5*321
*4321

In [31]:
#30
n=3
def zero_stars_pattern(n):
  for i in range(n+1,1,-1):
    for j in range(n+1,0,-1):      
        if i==j:
          print('*',end="")
        elif j==1:
          print('*',end="")
        else:
          print(j*0,end="")
    # print("")
    for k in range(2,n+2):      
        if i==k:
          print('*',end="")
        else:
          print(i*0,end="")
    print("")
    
for n in range(3,5+1): 
  zero_stars_pattern(n)

*00*00*
0*0*0*0
00***00
*000*000*
0*00*00*0
00*0*0*00
000***000
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

In [32]:
#31
n=5
for i in range(n,0,-1):
  for j in range(1,n+1):
    if j<i:
      print(" ",end="")
    else:
      print("*",end="")
  print("")

    *
   **
  ***
 ****
*****

In [33]:
#32
n=5
for i in range(n):
    for k in range(1,n-i):
        print(end=" ")
    for j in range(1,i+2):
        print(j, end="")
    for l in range(i,0,-1):
        print(l, end="")
    print()

    1
   121
  12321
 1234321
123454321

In [34]:
#33
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  for k in range(n,i,-1):
    print(" ",end="")
  for k in range(n,i,-1):
    print(" ",end="")
  for j in range(i,0,-1):
    print(j,end="")
  print()

1        1
12      21
123    321
1234  4321
1234554321

In [35]:
#34


n=4
for i in range(1,n+1):
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    else:
      print(j, end="")
  print("")

   1
  21
 321
4321

In [36]:
#35
n=5
lst=[1,0,1,0,1,0,1,0]
for i in lst:
  if i>=0:
    print(str(i)*n)
    n=n-1

11111
0000
111
00
1

In [37]:
#36
n=5
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for k in range(i+1,n+1):
    print(k,end="")
  print("")
for i in range(n-1,0,-1):
  for m in range(i-1):
    print(" ",end="")
  for l in range(i,n+1):
    print(l,end="")
  print("")

12345
 2345
  345
   45
    5
   45
  345
 2345
12345

In [38]:
#37
n=5
m=1

for i in range(1,n+1):
  for j in range(m,m+n):
    print(j,end=" ")
  print()
  if i==((n+1)//2):
    if (n%2)!=0:
      m=n*(n-2)+1
    else:
      m=n*(n-1)+1
  elif i>((n+1)//2):
    m=m-2*n
  else :
    m=m+2*n

1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

In [39]:
#38
def printPattern(n):
 
    arraySize = n * 2 - 1;
    result = [[0 for x in range(arraySize)]
                 for y in range(arraySize)];
         
    # Fill the values
    for i in range(arraySize):
        for j in range(arraySize):
            if(abs(i - (arraySize // 2)) >
               abs(j - (arraySize // 2))):
                result[i][j] = abs(i - (arraySize // 2)) + 1;
            else:
                result[i][j] = abs(j - (arraySize // 2)) + 1;
             
    # Print the array
    for i in range(arraySize):
        for j in range(arraySize):
            print(result[i][j], end = "");
        print("");

n=5
printPattern(5)

555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

In [40]:
#39
n=5
for i in range(1,n):
  for j in range(1,i+1):
    if j==1 :
      print("*",end="")
    elif j==(i):
      print("*",end="")
    else :
      print(" ",end="")
  print("")
print("*"*n,end="")

*
**
* *
*  *
*****

In [41]:
#40
n=5

for i in range(n-1):
    for k in range(1,n-i):
        print(end=" ")
    for j in range(i,i+1):
        print("*", end="")
    for k in range(1,i+1):
        print(" ",end="")
    

    for k in range(1,i):
        print(" ",end="")
    for l in range(i-1,i):
      if i!=0:
        print("*", end="")
    print("")
print("*"*((n*2)-1))

    *
   * *
  *   *
 *     *
*********

In [42]:
#41
n=5
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for k in range(n,i,-1):
    print("*",end="")
  for k in range(n-1,i,-1):
    print("*",end="")
  print("")

*********
 *******
  *****
   ***
    *

In [43]:
#42
n = 5
for i in range(1,n+1): #from row 1 to 5
    for j in range(n-i):
        print(" ", end = "")
    for k in range((i*2)-1):
      if k==0 or k== ((i*2)-2):
        print("*",end="")
      else:
        print(" ", end = "")
    print()

for i in range(n + 1, n + 5): #from row 6 to 9
    for j in range(i - n):
        print(" ", end = "")
    for k in range((n+5 - i)*2 - 1):
      if k==0 or k==((n+5 - i)*2 - 2):
        print("*", end = "")
      else:
        print(" ", end = "")

    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [44]:
#43
rows = 5
for i in range(rows, 0, -1):
  for j in range(rows, i, -1):
    print(' ',end="")
  for j in range(1, i + i):
    print("*", end="")
  print("")

for i in range(1,rows):
  for j in range(rows-1,i,-1):
    print(' ',end="")
  for k in range(i+i+2,1,-1):
    print("*",end="")
  print("")

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [45]:
#44
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end='')
        j += 1
    k = 1
    while k <= i:
        print('*', end='')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end='')
        j += 1
    k = 1
    while k < i:
        print('*', end='')
        k += 1
    print('')
    i -= 1

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [46]:
#45
n=5
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(end=' ')
  for k in range(1,(2*i)):
    print(k,end="")
  print()

for i in range(n-1,0,-1):
  for j in range(1,(n-i+1)):
    print(end=' ')
  for k in range(1,(2*i)):
    print(k,end="")
  print()

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [47]:
#46
n=5
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
for i in range(1,n+1):
  for j in range(n+1,i,-1):
    print(" ",end="")
  print(trr[0:(i*2)-1])

     A
    ABC
   ABCDE
  ABCDEFG
 ABCDEFGHI

In [48]:
#47
n = 5
alpha = 65
num = 0

for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        if i == 0 or i == n - 1:
            print(chr(alpha + num), end="")
            num += 1
        else:
            if k == 0 or k == 2 * i:
                print(chr(alpha + num), end="")
                num += 1
            else:
                print(" ", end="")
    print()

    A
   B C
  D   E
 F     G
HIJKLMNOP

In [49]:
#48
n = 5
for a1 in range(1,n+1): #from row 1 to 5
    for a2 in range(n-a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
      if a3==0:
        print("1",end="")
      elif a3== ((a1*2)-2):
        print("2",end="")
      else:
        print(" ", end = "")
    print()

for a1 in range(n + 1, n + 5): #from row 6 to 9
    for a2 in range(a1 - n):
        print(" ", end = "")
    for a3 in range((n+5 - a1)*2 - 1):
      if a3==0:
        print("1", end = "")
      elif a3==((n+5 - a1)*2 - 2):
        print("2",end="")
      else:
        print(" ", end = "")

    print()

    1
   1 2
  1   2
 1     2
1       2
 1     2
  1   2
   1 2
    1

In [50]:
#49
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j or i+j==n+1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*   *
 * *
  *
 * *
*   *

In [51]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [53]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [54]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [55]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [56]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [57]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [58]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [59]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [60]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [61]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [62]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [63]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [64]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [65]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [66]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [67]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [68]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [69]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [70]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [71]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [72]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

In [73]:
#50
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *